.navbar-solid {
    background-color: rgba(15,45,125,0.8) !important;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.navbar .logo {
    display: none;
}


.navbar-solid .logo {
    display: initial;
}



.site-info, .social-block {
    margin: 0px;
}

#registration-button {
    color:black; 
    padding: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 2px 2px 5px #000; 
    z-index: 2;
    position: relative;
    font-weight: 500;
    font-size: 1.0em;
}
#registration-button span {
    font-weight: 500;
    font-size: 0.5em;
}

#teaser {
    padding-bottom: 90px;
}

#facebook-logo {
    font-size: 29px;
}

#email-logo {
    font-size: 29px;
}

#skype-container div p a img  {
    margin-bottom: 27px !important;
    margin-left: 12px !important;
}